.vs/
bin/
obj/
TestResults/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.cache
*.log
*.tmp
*.bak
*.pdb
*.nupkg
*.snupkg
*.appx
*.appxbundle
*.msix
*.msixbundle
*.psess
*.vsp
*.vspx
*.vssscc
*.DotSettings.user
*.csproj.user
*.sln.cache
*.sln.ide
*.zip
*.7z
*.rar
*.tar
*.gz
*.sqlite
*.db
_ReSharper*/
packages/
artifacts/
tessdata/
docs
CLIP/